
<!--NAVBAR-->
<nav class="navbar navbar-light bg-success">
  <div class="container">
    <a class="navbar-brand position-relative top-50 start-50" href="#">
      <img src="/img/shopping_cart_PNG4.png" alt="" style="height: 80px; color: white">
    </a>
  </div>
</nav>