
<!--CARD PARA LA EXHIBICION DE PRODUCTOS-->
<article class="col-4">
    <div class="card">
        <img src="/img/{{item}}.png" alt="" class="card-img-top">
        <div class="card-body">
            <p class="lead">{{item}}</p>
            <button type="button" class="btn btn-primary" data-fruta="{{item}}" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Agregar
            </button>
        </div>
    </div>
</article>