<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Come Sano</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>

    {{> navbar}}
    
    
    <div class="container text-center">
            {{{body}}}
    </div>

    {{> modal}}


    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/app.js"></script>
</body>
</html>